/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@300;400;500;600&display=swap");

/* ===== VARIABLES CSS ===== */
:root {
  --header-height: 3rem;
  --nav-width: 68px;

   /* ==== Font ==== */
   --body-font: "Poppins", sans-serif;
   --header-font: "Raleway", sans-serif;
   --normal-font-size: 1rem;

   /* ==== Colors ==== */
  --bg-color-main:#f9f9fd;
  --bg-color-sidebar:#e8dfec;
  --header-color: #fff;
  --text-dark: #302e4d;
  --text-light: #504e70;
  --skin-color: #6b5b7d;
  --border-light: #ddd;
  --nav-links:#fff;
  --box-shadow: 0px 2px 3.6px rgba(0, 0, 0, 0.028),
  0px 5.6px 10px rgba(0, 0, 0, 0.04),
  0px 13.6px 24.1px rgba(0, 0, 0, 0.052),
  0px 45px 80px rgba(0, 0, 0, 0.08);
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;

  /* ==== Mode Toggler Colors ==== */
  /** Sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;

  /** Dark side **/
  --indigo-background:#808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;

  /* ==== z-index ==== */
  --z-fixed: 100;
}

body.dark {
  --bg-color-main: #15131E;
  --bg-color-sidebar: #332F3D;
  --header-color: #332F3D;
  --text-dark: #fff;
  --text-light: #e9e9e9;
  --nav-links: #fff;
  --box-shadow: 0px 2px 3.6px rgba(0, 0, 0, 0.08),
  0px 5.6px 10px rgba(0, 0, 0, 0.052),
  0px 13.6px 24.1px rgba(0, 0, 0, 0.04),
  0px 45px 80px rgba(0, 0, 0, 0.028)
;

}

/* ========= BASE ========== */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  background-color: var(--bg-color-main);
  color: var(--text-dark);
  margin: var(--header-height) 0 0 0;
  padding: 1rem 2rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: all 0.3s ease;
  /* overflow-y: hidden; */
}

h2,
h3,
h4 {
  color: var(--text-dark)
}


a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark)
}

li {
  list-style: none;
}

span {
  color: var(--text-dark);
}

.nav__link span {
  color: var(--nav-links)
}

.nav__link i {
  color: var(--nav-links);
}

i {
  color: var(--text-light);
}

/* ========= HEADER ========== */
header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--bg-color-sidebar);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--header-color);
  z-index: var(--z-fixed);
}

/* ==== Header Menu Toggler ==== */
.header__toggle {
  color: var(--skin-color);
  cursor: pointer;
  font-size: 1.5rem;
}


/* ========== NAVBAR ========== */
.navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: calc(var(--nav-width));
  height: 100vh;
  background-color: var(--skin-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed)
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--header-color);
}

.nav__logo-name {
  font-family: var(--header-font);
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 2px;
  position: relative;
}

.nav__logo-name span {
  font-family: "Clicker Script", cursive;
  font-size: 1.8rem;
}

.nav__logo-name::before {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  height: 2px;
  width: 60px;
  background-color: var(--header-color);
}

.nav__logo-name::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: var(--header-color);
  left: 0;
  bottom: -30%;
}

.nav__link {
  position: relative;
  color: white;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav__link:hover,
.nav__link i:hover {
  color: white;
}

.nav__icon {
  font-size: 1.25rem;
  pointer-events: none;
}

/* show navbar */
.show {
  left: 0;
}

/* Add padding to header and body*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/* Active links */
.active {
  color: var(--header-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--header-color);
}

/* ========= DARK MODE TOGGLER =========*/
.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 75px;
  height: 37.5px;
  background: var(--blue-color);
  border: 1px solid var(--blue-border);
  border-radius: 50px;
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
}

/* sun icon */
.toggle-label::before {
  content: '';
  width: 32px;
  height: 32px;
  border: 2px solid var(--yellow-border);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 32px;
  background-color: var(--yellow-background);
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
}

/* cloud background light mode */
.toggle-label-background {
  width: 4px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  background-color: #fff;
  left: 50px;
  top: 15px;
  transition: all 150ms ease-in;
}

/* top and bottom of cloud */
.toggle-label-background::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 15px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  left: -7px;
  transition: all 150ms ease-in;
}

.toggle-label-background::after {
  content: '';
  position: absolute;
  top: 2px;
  width: 15px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  left: -3.5px;
  transition: all 150ms ease-in;
}

/* Switch to dark mode */
.toggle-checkbox:checked + .toggle-label {
  background-color: var(--indigo-color);
  border-color: var(--indigo-border);
}

/* moon icon */
.toggle-checkbox:checked + .toggle-label::before {
  background: #fff;
  border-color: var(--gray-border);
  animation: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

/* show after input is checked */
.toggle-label::after {
  content: '';
  box-shadow: inset var(--gray-dots) -24px 14px 0 -2px, var(--gray-dots) -13px 0 0 2px;
  position: absolute;
  left: 63px;
  top: 12px;
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
  transition-delay: 0ms;
  transition: all 250ms ease-in;
}

.toggle-checkbox:checked + .toggle-label::after {
  opacity: 1;
  transition-delay: 350ms;
}

/* star background dark mode */
.toggle-checkbox:checked + .toggle-label .toggle-label-background {
  left: 30px;
  top: 15px;
  width: 3px;
  height: 3px;
}

.toggle-checkbox:checked + .toggle-label .toggle-label-background::before {
  width: 3px;
  height: 3px;
  top: -10px;
  left: -15px;
}

.toggle-checkbox:checked + .toggle-label .toggle-label-background::after {
  width: 3px;
  height: 3px;
  top: 10px;
  left: -10px;
}

/* reverse animation - 350ms */
@keyframes reverse {
  0% {
    width: 32px;
    left: 40px;
  }
  60% {
    width: 43px;
    left: 30px;
  }
  100% {
    left: 2px;
  }
}

/* left to right animation */
@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    width: 43px;
    left: 30px;
  }
  100% {
    width: 32px;
    left: 40px;
  }
}

/* ========= HOMEPAGE =========*/
.home .container {
  padding-top: 80px;
  padding-bottom: 70px;
  margin: auto;
}

.home .home-info {
  flex: 0, 0, 100%;
  max-width: 100%;
}

h3.hello {
  font-family: var(--header-font);
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.profession {
  font-family: var(--header-font);
  font-size: 30px;
  margin: 15px 0;
}

h3.profession span {
  color: var(--skin-color)
}

.home-info p {
  font-size: 18px;
  margin-bottom: 70px;
  color: var(--text-light);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.socials a.social-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 30px;
  background: var(--header-color);
  color: var(--text-dark);
  border: 1px solid var(--bg-color-sidebar);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.socials a.social-icon:hover {
  transform: scale(1.25);
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  color: white;
  background: var(--skin-color);
  border: none;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

.profile-area {
  display: none;
}

/* ========= SECTION BASE STYLES =========*/
section {
  display: none;
}

/* display section */
section.active {
  display: block;
  padding: 30px 0;
  margin: 30px auto;
}

.title .section__title {
  font-family: var(--header-font);
  font-size: 2rem;
  color: var(--text-light);
  font-weight: 600;
  position: relative;
  margin-bottom: 2rem;
}

.section__subtitle  {
  display: block;
  text-align: left;
  font-size: 0.8rem;
  color: var(--skin-color);
  text-transform: uppercase;
}

.title .section__title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 85px;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* ========= ABOUT =========*/

.about__img {
  width: 200px;
  height: 200px;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.about__data h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.about__data h3 span {
  color: var(--skin-color);
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.about__box {
  background-color: var(--bg-color-sidebar);
  border-radius: 0.65rem;
  padding: 0.5rem 0.65rem;
  text-align: center;
}

.about__title, .about__subtitle {
  color: var(--text-dark);
}

.about__icon {
  font-size: 1.2rem;
  color: var(--skin-color);
}

.about__title {
  font-size: 0.95rem;
  font-weight: 400;
}

.about__subtitle {
  font-size: 0.8rem;
  font-weight: 200;
}

.about__description {
  margin-bottom: 2rem;
  text-align: left;
}

.about-row {
  display: flex;
  flex-direction: column;
}

.personal-info .info-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.personal-info .info-item p {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  color: var(--text-light);
  margin-right: 30px;
  border-bottom: 1px solid var(--bg-color-sidebar);
}

.personal-info .info-item p span {
  font-weight: 400;
  margin-left: 4px;
  display: inline-block;
  color: var(--text-dark);
}


/* About tabs section */

.about-tabs {
  margin-top: 1.5rem;
}

.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--text-dark);
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3 ease;
}

.about-tabs .tab-item:last-child {
  margin: 0;
}

.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 3px;
  background-color: var(--skin-color);
  transition: width 0.3s ease;
}
/* ========= SKILLS =========*/
.skills__container {
  display: grid;
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content {
  background-color: var(--bg-color-sidebar);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--skin-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bxs-badge-check {
  font-size: 1rem;
  color: var(--skin-color);
}

.skills__name {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 18px;
}

.skills__level {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Skills bars */
section.skills aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.skills-bar {
  width: 600px;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

.skills-bar .bar {
  margin: 1.25rem 0;
}

.skills-bar .bar:first-child {
  margin-top: 0;
}
.skills-bar .bar .info {
  margin-bottom: 5px;
}

.skills-bar .bar .info span {
  font-size: 1.063rem;
  font-weight: 500;
  color: #302e4d;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 0.625rem;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px rgba(255,255,255, 0.8);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 70%;
  border-radius: 0.625rem;
  background-color: var(--skin-color);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  content: "50%";
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

/* progess line percentage tooltip*/
.progress-line.html span::after {
  content: "95%"
}

.progress-line.css span::after {
  content: "85%"
}

.progress-line.javascript span::after {
  content: "70%"
}

.progress-line.ruby span::after {
  content: "80%"
}

.progress-line.react span::after {
  content: "60%"
}

.progress-line.html span {
  width: 95%;
}

.progress-line.css span {
  width: 85%;
}

.progress-line.javascript span {
  width: 70%;
}

.progress-line.ruby span {
  width: 90%;
}

.progress-line.react span {
  width: 60%;
}


/* ======== PORTFOLIO ========*/
.portfolio-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.portfolio-filter .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: var(--skin-color);
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
}

.filter-item:hover:not(.active) {
  opacity: 0.6;
}

.filter-item.active {
  color: var(--text-light);
}

.filter-item.active::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 13px;
  background-color: var(--skin-color);
  top: 90%;
  left: 30%;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.portfolio-item {
  background-color: var(--header-color);
  margin-bottom: 1rem;
}

.portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.portfolio-item-inner:hover .portfolio-item-img img {
  transform: translateY(-25px);
}

.portfolio-item-inner .portfolio-item-img img{
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.portfolio-item-inner .portfolio-item-img {
  position: relative;
}

.portfolio-item-inner .portfolio-item-img .view-project {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: var(--skin-color);
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(-5px);
  /* z-index: -1; */
  opacity: 0;
}

.portfolio-item-inner:hover .view-project{
  transform: translateY(0px);
  opacity: 1;
}

.portfolio-item-inner p {
  margin: 10px 0 0;
  color: var(--text-dark);
  text-transform: capitalize;
}

.portfolio-item-details {
  display: none;
}

.portfolio-item-details .info li {
  list-style: none;
  color: var(--text-dark);
}

/* ======== PORTFOLIO POPUP ========*/
.portfolio-popup {
  /* display: none; */
  background-color: var(--bg-color-main);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}

.portfolio-popup .pp-details {
  max-width: 1350px;
  width: calc(85% + 30px);
  margin: auto;
}

.portfolio-popup .pp-details-inner {
  padding: 30px 0;
}

.portfolio-popup .pp-title {
  padding: 0 15px;
}

.portfolio-popup .pp-title h2 {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0 0 5px;
}

.portfolio-popup .pp-title p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-light);
  margin: 0 0 15px;
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 10px;
}

.portfolio-popup .pp-project-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 15px;
  text-transform: capitalize;
}

.portfolio-popup .description {
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}

.portfolio-popup .description p {
  line-height: 26px;
  margin: 0;
}

.portfolio-popup .info {
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 15px;
}

.portfolio-popup .separator {
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--border-light);
}
.portfolio-popup .pp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.portfolio-popup .pp-main {
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-popup .pp-main-inner {
  padding: 70px 0 50px;
  position: relative;
}

.portfolio-popup .pp-project-details-btn {
  position: absolute;
  left: 0;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 15px;
  color: var(--skin-color);
  cursor: pointer;
  top: 15px;
  height: 40px;
  line-height: 40px;
}

.portfolio-popup .pp-project-details-btn i {
  margin-left: 5px;
  font-size: 1rem;
}

.portfolio-popup .pp-close {
  position: absolute;
  right: 0;
  border-radius: 50%;
  font-size: 35px;
  line-height: 35px;
  color: var(--skin-color);
  height: 40px;
  width: 40px;
  top: 15px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.portfolio-popup .pp-counter {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  color: var(--text-dark);
}

/* portfolio popup navigation */
.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
  position: fixed;
  top: 40%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1010;
  color: var(--skin-color);
  transition: all 0.3s ease;
  opacity: 0.5;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
  opacity: 1;
}

.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i {
  font-size: 40px;
  line-height: 40px;
}

.portfolio-popup .pp-prev i {
  transform: rotate(180deg);
}

.portfolio-popup .pp-prev {
  left: 15px;
}

.portfolio-popup .pp-next {
  right: 15px;
}

/* ======== MEDIA QUERIES ========*/
@media screen and (min-width: 576px) {
  /* Skills container - display column center */
  .skills__container {
    justify-content: center;
  }

  .skills__content {
    padding: 2rem 4rem;
  }

  .skills-bar {
    max-width: 450px;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: calc(var(--header-height) + 2rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 3rem)
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 1rem)
  }

  .header__img {
    width: 45px;
    height: 45px
  }

  .header__img img {
    width: 50px;
  }

  .navbar {
    left: 0;
    padding: 1rem 1rem 0 0 ;
  }

  /* show full side navbar on destop */
  .show {
    width: calc(var(--nav-width) + 156px)
  }

  /* add padding to body */
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }

  .btn {
    margin-right: 15px;
    margin-bottom: 0;
  }

  /* HOMEPAGE */
  .home .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .home-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-right: 4rem;
  }


  /* PROFILE AREA HOMEPAGE */
  .home .profile-area {
    margin-left: 2rem;
    flex: 0, 0, 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .profile-area .outer-circle {
    width: 26rem;
    height: 26rem;
    border: 1px solid var(--skin-color);
    border-radius: 50%;
    position: relative;
    animation: move 30s linear infinite;
  }

  @keyframes move {
    to {
      transform: rotate(360deg);
    }
  }

  .profile-area .outer-circle span {
    background: var(--bg-color-sidebar);
    color: var(--skin-color);
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem hsl(14, 89%, 35%, 12%);
  }

  /* place icons around circle */
  .profile-area .outer-circle span:nth-child(1) {
    left: calc(50% - 1.5rem);
    top: -1.5rem;
  }

  .profile-area .outer-circle span:nth-child(2) {
    right: -1.5rem;
    top: calc(50% - 1.5rem);
  }

  .profile-area .outer-circle span:nth-child(3) {
    left: -1.5rem;
    top: calc(50% - 1.5rem);
  }

  .profile-area .outer-circle span:nth-child(4) {
    bottom: -1.5rem;
    left: calc(50% - 1.5rem);
  }

  .profile-area .inner-circle {
    position: absolute;
    width: 18rem;
    height: 18rem;
    line-height: 18rem;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
  }

  .profile-area .inner-circle img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
  }

  /* About Section */
  .about__container {
    display: flex;
    gap: 2rem;
  }

  .about__img {
    flex: 0 0 30%;
    width: 200px;
    height: 300px;
    border-radius: 1.5rem;
    justify-self: center;
  }

  .about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* adjustment */
    grid-gap: 4rem;
  }

  .about__box {
    border-radius: 0.65rem;
    padding: 1rem 1.5rem;
  }

  .about__icon {
    font-size: 2rem;
  }

  .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* Skills Section*/
  .skills__container {
    grid-template-columns: repeat(2, 400px);
    column-gap: 2rem;
  }

  .skills-bar {
    max-width: 600px;
  }

  .portfolio-items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* justify-content: space-evenly; */
  }

  .portfolio-item {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
  }
}
