:root {
  --dog-color: #fee7af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9ab5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 600px;
  height: 600px;
  border: 1px solid white;
  position: relative;
}

/* ====== Main Bubble ======*/
.bubble::before,
.bubble::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: inherit;
  background: inherit;
  position: inherit;
}

.bubble::before {
  right: -40px;
  top: 20px;
}
.bubble::after {
  bottom: -30px;
  left: 40px;
  transform: scale(1.4);
}

.bubble {
  width: 360px;
  height: 360px;
  background: #a9bffb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

/* ====== Surrounding bubbles ====== */
.bubbles {
  width: 40px;
  height: 40px;
  background: #a9bffb;
  border-radius: 50%;
  position: absolute;
  right: 170px;
  top: 80px;
}

.bubbles::before,
.bubbles::after {
  content: "";
  border-radius: inherit;
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
}

.bubbles::before {
  left: -330px;
  bottom: -320px;
  transform: scale(1.5);
}

.bubbles::after {
  left: -85px;
  bottom: -410px;
  transform: scale(0.8);
}

.dog {
  width: 220px;
  height: 90px;
  background-color: rgb(238, 233, 233);
  border-radius: 60px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}

.head {
  width: 170px;
  height: 120px;
  background-color: rgb(238, 233, 233);
  border-radius: 70px 70px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 55px;
  overflow: hidden;
}

/* dog patch */
.head::after,
.dog::after {
  content: "";
  width: 110px;
  height: 130px;
  border-radius: 50%;
  background: #a0746e;
  position: absolute;
}

.dog::after {
  left: 0;
  bottom: 55px;
}

.head::after {
  left: -25px;
  bottom: -30px;
}

.eyes {
  width: 16px;
  height: 16px;
  background: #62544d;
  border-radius: 50%;
  position: absolute;
  left: 140px;
  bottom: 175px;
  z-index: 1;
  box-shadow: 65px 0 #89766c;
}

.nose {
  width: 44px;
  height: 24px;
  background: #89766c;
  border-radius: 20% 20% 50% 50% / 25% 25% 70% 70%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 145px;
  margin: auto;
  z-index: 3;
}

/* add shine to nose */
.nose::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 10px;
  background: #a58f82;
  border-radius: inherit;
  left: 0;
  right: 0;
  margin: auto;
  top: 4px;
}

/* Mouth */
.mouth {
  width: 50px;
  height: 25px;
  background: rgb(238, 233, 233);
  border: 5px solid #9a7b6a;
  border-top: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  bottom: 125px;
  z-index: 2;
}

.mouth::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #9a7b6a;
  border-radius: 50%;
  position: inherit;
  top: -2.5px;
}

.mouth.left {
  left: 132.5px;
}

.mouth.left::before {
  left: -5px;
}

.mouth.right {
  right: 132.5px;
}

.mouth.right::before {
  right: -5px;
}

/* tongue */
.tongue {
  width: 36px;
  height: 40px;
  background: #ffc7d0;
  border-radius: 0 0 50px 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 105px;
  margin: auto;
  z-index: 1;
}

.tongue::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 36px;
  background: #fea4b0;
  opacity: 0.5;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
