* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9ab5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 600px;
  height: 600px;
  border: 1px solid white;
  position: relative;
}

.bubble::before,
.bubble::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: inherit;
  background: inherit;
  position: inherit;
}

.bubble::before {
  right: -40px;
  top: 20px;
}
.bubble::after {
  bottom: -30px;
  left: 40px;
  transform: scale(1.4);
}

.bubble {
  width: 360px;
  height: 360px;
  background: #a9bffb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.bubbles {
  width: 40px;
  height: 40px;
  background: #a9bffb;
  border-radius: 50%;
  position: absolute;
  right: 170px;
  top: 80px;
}

.bubbles::before,
.bubbles::after {
  content: "";
  border-radius: inherit;
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
}

.bubbles::before {
  left: -330px;
  bottom: -320px;
  transform: scale(1.5);
}

.bubbles::after {
  left: -85px;
  bottom: -410px;
  transform: scale(0.8);
}
