.set .list {
  grid-template-columns: 1fr 24px;
  padding: 0.2rem 0.5rem;
}

.skills .list {
  display: flex;
  align-items: center;
}

.skills .list {
  display: flex;
  align-items: center;
}

section.skills .skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skill .set {
  background-color: var(--bg-color-sidebar);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skill .set:hover {
  box-shadow: var(--box-shadow);
}

.set span i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  background-color: var(--skin-color);
  color: #fff;
  border-radius: 0.65rem;
  margin-inline: auto;
}

.set h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--skin-color);
  text-align: center;
}

.set .list {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 20px;
  color: var(--text-light);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.set .list i {
  font-size: 1.8rem;
}
